/*.button__wrapper {
  cursor: not-allowed;
}*/

.button__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: 700;
  color: blueviolet;
  border: none;
  background: orange;
  cursor: pointer;
}