.general-info__wrapper {
  padding: 0 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.general-info__24 {
  width: 35%;
}

.general-info__24-title {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.general-info__text {
  font-size: 14px;
  margin-bottom: 30px;
}

.general-info__data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.block {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 0 25px 0;
}

.block__img {
  margin-right: 15px;
  max-width: 30px;
  max-height: 30px;
  img {
    width: 100%;
    height: 100%;
  }
}

.block__title {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.block__info {
  font-size: 14px;
}
