<div class="general-info__wrapper">
  <div class="general-info__24">
    <div class="general-info__day">
      <h4 class="general-info__24-title">Day</h4>
      <div class="general-info__text">
        The day will stay {{generalInfo[generalInfoIndex]?.weatherText}}. The high temp will stay {{generalInfo[generalInfoIndex]?.maxTemp}}&deg;C on this {{+generalInfo[generalInfoIndex]?.humidity > 50 ? 'humidity' : 'dry'}} day.
      </div>
    </div>

    <div class="general-info__night">
      <h4 class="general-info__24-title">Night</h4>
      <div class="general-info__text">
        {{+generalInfo[generalInfoIndex]?.chanceOfRain > 50 ? 'It is going to rain' : 'Without precipitation'}}. The low will be {{generalInfo[generalInfoIndex]?.minTemp}}&deg;C.
      </div>
    </div>
  </div>

  <div class="general-info__data">
    <div class="block">
      <div class="block__img">
        <img src="./assets/images/humidity.svg" alt="humidity img">
      </div>
      <div class="block__wrapper">
        <h4 class="block__title">Humidity</h4>
        <div class="block__info">{{generalInfo[generalInfoIndex]?.humidity}} %</div>
      </div>
    </div>

    <div class="block">
      <div class="block__img">
        <img src="" alt="">
      </div>
      <div class="block__wrapper">
        <h4 class="block__title">Chance of rain</h4>
        <div class="block__info">{{generalInfo[generalInfoIndex]?.chanceOfRain}} %</div>
      </div>
    </div>

    <div class="block">
      <div class="block__img">
        <img src="./assets/images/wind.svg" alt="wind img">
      </div>
      <div class="block__wrapper">
        <h4 class="block__title">Max wind</h4>
        <div class="block__info">{{generalInfo[generalInfoIndex]?.maxWindSpeed}} km</div>
      </div>
    </div>

    <div class="block">
      <div class="block__img">
        <img src="" alt="">
      </div>
      <div class="block__wrapper">
        <h4 class="block__title">Visibility</h4>
        <div class="block__info">{{generalInfo[generalInfoIndex]?.visKm}} km</div>
      </div>
    </div>
  </div>
</div>

