<div class="general-info__wrapper">
  <div class="general-info__24">
    <div class="general-info__day">
      <h4 class="general-info__24-title">Day</h4>
      <div class="general-info__text">
        The day will stay -. The high will stay - on this - day.
      </div>
    </div>

    <div class="general-info__night">
      <h4 class="general-info__24-title">Night</h4>
      <div class="general-info__text">
        The day will stay -. The high will stay - on this - day.
      </div>
    </div>
  </div>

  <div class="general-info__data">
    <div class="block">
      <div class="block__img">
        <img src="" alt="">
      </div>
      <div class="block__wrapper">
        <h4 class="block__title">Cloud</h4>
        <div class="block__info">60%</div>
      </div>
    </div>

    <div class="block">
      <div class="block__img">
        <img src="./assets/images/thermometer.svg" alt="thermometer">
      </div>
      <div class="block__wrapper">
        <h4 class="block__title">Real Feel</h4>
        <div class="block__info">60%</div>
      </div>
    </div>

    <div class="block">
      <div class="block__img">
        <img src="" alt="">
      </div>
      <div class="block__wrapper">
        <h4 class="block__title">Humidity</h4>
        <div class="block__info">60%</div>
      </div>
    </div>

    <div class="block">
      <div class="block__img">
        <img src="" alt="">
      </div>
      <div class="block__wrapper">
        <h4 class="block__title">Wind Speed</h4>
        <div class="block__info">60%</div>
      </div>
    </div>
  </div>
</div>

