<div class="card-front-part">
    <header class="header">
        <div class="header__logo">
            <img src="" alt="Visa-card logotype">
        </div>

        <h2 class="header__title">Сбербанк</h2>
    </header>

    <input type="text" class="card-front-part__number">

    <div class="card-front-part__info">
        <div class="card-front-part__inputs">
            <label for="month-input"  class="card-front-part__label">Действует до</label>
            <input type="text" class="card-front-part__input-month" placeholder="MM" id="month-input">

            <label for="year-input" class="card-front-part__label not-used"></label>
            <input type="text" class="card-front-part__input-year" placeholder="YY" id="year-input">
        </div>

        <div class="card-front-part__img">
            <img src="" alt="Visa image">
        </div>
    </div>

</div>
