<header class="header">
    <div class="header__logo">
        <img src="" alt="Visa-card logotype">
    </div>

    <h2 class="card-front-part__title">Сбербанк</h2>

    <div class="card-front-part__info">
        <div class="card-front-part__inputs">
            <label for="month-input"  class="card-front-part__label">Действует до</label>
            <input type="text" class="visa-card__month" placeholder="MM" id="month-input">

            <label for="year-input" class="card-front-part__label not-used"></label>
            <input type="text" class="visa-card__year" placeholder="YY" id="year-input">
        </div>

        <div class="card-front-part__img">
            <img src="" alt="Visa image">
        </div>
    </div>
</header>
