.widget__wrapper {
  padding: 15px 20px;
  background: transparent;
  cursor: pointer;
  position: relative;
  width: 130px;

  &:hover {
    background-color: rgba(79, 34, 54, 0.3);
    border-radius: 15px;
    &:after {
      content: '';
      border: 20px solid transparent;
      border-top: 20px solid rgba(79, 34, 54, 0.3);
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.widget__day {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.widget__weather-img {
  max-width: 35px;
  max-height: 35px;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;

  .img {
    height: 100%;
    width: 100%;
    transform: scale(1.7);
  }
}

.widget__temperature {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.widget__day-weather {
  color: white;
  font-size: 12px;
}


