.main-widget__wrapper {
  margin: 60px 0;
  padding: 25px 40px 40px 40px;
  border-radius: 15px;
  background-color: rgba(79, 34, 54, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
